[Unit]
Description=Castboard player exectuable

[Service]
ExecStart=/usr/share/castboard-player/player

[Install]
Alias=castboard
WantedBy=multi-user.target
